<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
  </div>

  <div>
    <%= form.label "Image"%>
    <%= form.file_field "uploaded_image", accept: "image/pnj,image.jpg,igane/jpeg"%>
  </div>

  <div>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
 </div>
  <div>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>
  </div>
  <div>
    <%= form.submit %>
 </div>
  <%= form.hidden_field "place_id" %>
<% end %>
